.page{
    max-height: 100svh;
    height: fit-content;
    width: 100svw;
    overflow-y: auto;
    overflow-x: hidden;
}

.backTriangulos{
    height: fit-content;
    padding: 3svh 5svw;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: 
        url(../../../public/Publicidad/TrAmarillo.svg) top -3% left / 16% 19% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 5% left 60% / 16% 19% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 40% left 30% / 12% 15% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 45% left 80% / 12% 15% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 60% left 10% / 10% 13% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 60% left 60% / 10% 13% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 75% left 30% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 75% left 80% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 90% left 40% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrAmarillo.svg) top 90% left 90% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 5% left 30%/ 16% 19% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 15% left 85% / 16% 19% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 30% left 0% / 12% 15% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 35% left 60% / 12% 15% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 60% left 40% / 10% 13% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 60% left 95% / 10% 13% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 90% left 10% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 90% left 60% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 105% left 20% / 8% 11% no-repeat,
        url(../../../public/Publicidad/TrVerde.svg) top 105% left 80% / 8% 11% no-repeat,
        white
        ;
}

.italic{
    font-family:'inter';
    font-style: italic;
    font-size: 2.5svw;
    font-weight: 300;
    text-align: center;
    max-width: 80%;
    align-self: center;
}

.italic_little{
    font-size: 2.2svw;
    max-width: 50%;
}

.promotion{
    display: flex;
    align-self: center;
    width: 80%;
    aspect-ratio: 2 / 1;
    flex-direction: column;
    border: 2svh solid var(--color-5);
    border-radius: 15px;
    padding: 4% 8%;
    background-color: white;
    gap: 10px;
}

.foot{
    flex: 1;
    display: flex;
    position: relative;
    align-items: flex-end;
    gap: 10px;
}
.foot::after{
    content: 'Ver tienda';
    position: absolute;
    top: 0;
    right: 2%;
    font-weight: 400;
}