.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    z-index: 1000;
    flex-direction: column;
    background-color: var(--color-4);
}

.contain_logo{
    display: flex;
    height: fit-content;
    position: relative;
    justify-content: center;
}

.contain_logo::after{
    content: '';
    width: 89%;
    background-color: var(--color-4);
    height: 4.25%;
    display: flex;
    z-index: 5;
    position: absolute;
    bottom: 31.275%;
    border-radius: 25px;
    animation: llenarBarra 3.5s ease-in-out none infinite;
}

.contain_logo--color-1::after{
  background-color: var(--color-1);
}
.contain_logo--color-2::after{
  background-color: var(--color-2);
}
.contain_logo--color-3::after{
  background-color: var(--color-3);
}
.contain_logo--color-4::after{
  background-color: var(--color-4);
}
.contain_logo--color-5::after{
  background-color: var(--color-5);
}
.contain_logo--color-6::after{
  background-color: var(--color-6);
}

@keyframes llenarBarra {
    0% {
      width: 89%;
    }
    50% {
      width: 7%;
    }
    100% {
      width: 89%;
    }
  }

.logo{
    aspect-ratio: 1 / 1.5 !important;
}


.cargando{
    color: white;
    font-size: 5svh;
}

.cargando::after{
    content: '\00a0\00a0\00a0';
    animation: mostrarPuntos 4s steps(4) infinite;
}

@keyframes mostrarPuntos {
    0% {
      content: '\00a0\00a0\00a0';
    }
    25% {
      content: '.\00a0\00a0';
    }
    50% {
      content: '..\00a0';
    }
    75% {
      content: '...';
    }
}