.scanMain{
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
  align-items: center;

  max-width: 100vw;
  min-height: 90svh;
  padding: 4svh 0;

}
.scanMain h1{
  color: #40B22D;
  font-size: 1.2rem;
  font-weight: 400;

  margin-bottom: 6svh;
}
.scanMain p{
  color: var(--color-3);
  font-size: 1.1rem;
  font-weight: 400;

  margin: 4svh 0;
}

.scanTopImg{
  max-height: 50%;
  width: 70%;

  aspect-ratio: 1/1;
}

.scanInput{
  padding: 1.5em 6em;

  border-radius: 0.5rem !important;

  background-color: var(--color-3) !important;
}

.scanText{
  padding: 1em;
  font-size: 1.5em;
}

@media (min-width: 910px) or (min-aspect-ratio: 2/3) {
  .scanTopImg{
    max-height: 85svh;
    max-width: 50%;

    margin-right: 2svw;
  }
  .scanMain{
    flex-direction: row;
  }
}
