.scanMain{
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
  align-items: center;

  max-width: 100vw;
  min-height: 90svh;
  padding: 4svh 0;

}
.scanMain h1{
  width: 80%;
  max-width: 90svw;

  word-break: break-all;

  margin: 2rem;
  padding: 2rem;

  border-radius: 1rem;

  font-size: 2rem;
  font-weight: 600;

  color: black;
  background-color: #2F48582F;
}
.scanMain p{
  color: var(--color-3);
  font-size: 1.1rem;
  font-weight: 400;

  margin: 4svh 0;
}

.scanTopImg{
  max-height: 50svh;
  width: 70%;

  aspect-ratio: 1/1;
}

.videoDisplay{
  position: relative;
  width: 90%;
  margin-bottom: 2svh;
}
.videoDisplay canvas{
  max-height: 55svh;
  width: 100%;

  background-color: #0E151A;
  
  border-radius: 1rem;
  border: solid 0.5rem var(--color-6);
}
.videoDisplay div{
  position: absolute;

  background-color: red;

  height: 2px;
  left: 0;
  right: 0;

  top: 48%
}

.scanInput{
  padding: 1.5em 0;
  width: 80%;

  border-radius: 0.5rem !important;

  background-color: var(--color-3) !important;
}

.scanText{
  padding: 1em;
  font-size: 1.5em;
}

@media (min-aspect-ratio: 9/8) {
  .scanTopImg{
    max-height: 85svh;
    max-width: 50%;

    margin-right: 2svw;
  }

  .videoDisplay{
    max-width: 50%;

    margin-right: 2svw;
  }
  .videoDisplay canvas{
    max-height: 85svh;
  }

  .scanMain{
    flex-direction: row;
  }
}
