.main{
  position: relative;
  overflow: hidden;

  padding: 5rem;
  text-align: center;

  color: var(--color-6);
}
.main > p{
  font-size: 3rem;
  margin-bottom: 3rem;
}

.members{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.card{
  background-color: var(--color-3);
  border-radius: 1rem;
  padding: 10%;
}
.card img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  
  margin-bottom: 10%;

  border-radius: 99999px;
}
.card h1{
  font-size: max(2svw, 2svh);
}
.card p{
  font-size: max(1.8svw, 1.8svh);
  font-weight: 300;
}

@media (max-width: 1050px) {
  .members{
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3rem 3rem 3rem;
  gap: 5%;
  }
}
@media (max-aspect-ratio: 1/1) {
  .main{
    padding: 5rem 3rem;
  }
}
