.main{
  position: relative;
  overflow: hidden;

  padding: 5rem;
  text-align: center;

  color: var(--color-6);
}
.main > p{
  font-size: 3rem;
  margin-bottom: 3rem;
}

.members{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.card{
  background-color: var(--color-3);
  border-radius: 1rem;
  padding: 2rem;
}
.card img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  
  margin-bottom: 2rem;

  border-radius: 99999px;
}
.card h1{
  font-size: 2rem;
}
.card p{
  font-size: 1.8rem;
  font-weight: 300;
}

@media (max-aspect-ratio: 3/2) {
  .card h1{
    font-size: 1.2rem ;
  }
  .card p{
    font-size: 1rem;
  }
}
@media (max-aspect-ratio: 8/7) {
  .members{
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3rem 3rem 3rem;
  gap: 5%;
  }
  .card h1{
    font-size: 2rem;
  }
  .card p{
    font-size: 1.8rem;
  }
}
@media (max-aspect-ratio: 1/1) {
  .main{
    padding: 5rem 3rem;
  }
  .card h1{
    font-size: 1.2rem ;
  }
  .card p{
    font-size: 1rem;
  }
}
