footer.back{
    width: 100%;
    padding: 5svh;
    background-color: var(--color-5 );
    display: grid;
    grid-template-areas:
    "sidebar header header"
    "bottom bottom bottom";
    gap: 5%;
}

.sidebar{
    grid-area: sidebar ;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(4svw, 1fr));
    width: 100%;
    max-height: calc(4svw * 2);
}

.sidebar a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header ;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20svw, 1fr));
    gap: 10px;
    overflow: hidden;
}

.header div{
    height: 100%;
    width: 100%;
    min-width: 30svw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-weight: 500;
    overflow: hidden;
}

.header div p{
    height: fit-content;
    max-width: 100%;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    font-weight: inherit;
    line-height: 200%;
    color: inherit;
}

.header h3{
    color: var(--color-2);
    margin-bottom: 6svh;
}

.bottom{
    grid-area: bottom ;
    border-top: 1px solid var(--color-3);
    height: fit-content;
    padding: 2% 0;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.bottom button{
    width: fit-content;
    padding: 10px 7svw;
}

@media screen and (max-width: 899px) {
    .sidebar{
        grid-template-columns:  repeat(auto-fill, minmax(10svw, 1fr));
    }

    .header{
        grid-template-columns: repeat(auto-fill, minmax(35svw, 1fr));
    }

    footer.back{
        height: 85%;
        grid-template-areas:
        "sidebar sidebar sidebar"
        "header header header"
        "bottom bottom bottom";
    }
}