.main{
  display: grid;
  align-items: center;
  text-align: center;

  grid-template-columns: 1fr 2fr;

  color: var(--color-1);
  background-color: var(--color-6);

  padding: 4rem 2rem 4rem 5%;
}

.left{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.right{
  margin-left: 5%;
}
.right p{
  font-size: 2rem;
}
.right video{
  width: 80%;
  border-radius: 1rem;
  margin: 2rem 0 2rem;
}

.logo{
  width: 60%;
  margin: 0 0 3rem 0;
}

.quote{
  color: white;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 760px) or (max-aspect-ratio: 5/8) {
  .main{
    grid-template-columns: 1fr;
    padding: 7svh 1rem;
  }
  
  .left{
    flex-direction: column-reverse;
    margin: 1rem 2rem;
  }
  .left p{
    font-size: 4.5svw;
  }

  .right{
    grid-row: 1;
    margin: 0;
  }
  .right video{
    width: 100%;
  }
  
  .logo{
    margin: 3rem 0 0 0;
    width: 50%;
  }
}
