.main{
  display: grid;
  align-items: center;
  text-align: center;

  grid-template-columns: 1fr 2fr;

  color: var(--color-1);
  background-color: var(--color-6);

  padding: 4rem 2rem 4rem 5%;
}

.right{
  margin-left: 5%;
}
.right p{
  font-size: 3rem;
}
.right video{
  width: 80%;
  border-radius: 1rem;
  margin: 2rem 0 2rem;
}

.logo{
  width: 60%;
  margin: 0 0 3rem 0;
}

.quote{
  color: white;
  font-weight: 300;
  font-style: italic;
}
