.back{
    height: fit-content;
    width: 100svw;
    background: url(/Home/Servicio/Service.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 8svh 9svh;
    display: flex;
    flex-direction: column;
}

.back h1{
    color: white;
    font-weight: 700;
    font-size: 5svh;
}

.planes{
    margin: 5%;
    height: fit-content;
    border: 4.5svh solid rgba(255, 255, 255, 0.5);
    border-left-width: 7svw;
    border-right-width: 7svw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    color: white;
    background-clip: padding-box, content-box;
    gap: 0.35svw;
}

.planes :nth-child(n) li {
    color: var(--color-6);
    font-size: 1.44svw;
    font-weight: 400;
}

.planes h3{
    color: var(--color-6);
    font-weight: 700;
    text-align: center;
    font-size: 3.4svh;
    width: 100%;
    line-height: 250%;
}

.planes h2{
    text-align: center;
    color: var(--color-4);
    font-size: 3.34574svw;
    line-height: 100%;
    display: flex;
    flex-direction: column;
}
.planes p{
    color: var(--color-4);
    font-size: 2svw;
    height: fit-content;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2svh;
}
.plan{
    width: fit-content;
    max-width: 22svw;
    min-width: 33svh;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: var(--color-2);
    font-weight: 700;
    padding: 5%;
    gap: 2svw;
}
.plan:hover{
    transform: scale(1.125);
    box-shadow: 2px 2px 10px 2px var(--color-6);
}

@media screen and (max-width: 899px) {
    .back{
        padding: 48px 5px;
    }

    .white{
        background: var(--color-2);
    }

    .white h3{
        background-color: white !important;
        color: var(--color-5) !important;
    }

    .planes li{
        width: 80% !important;
    }

    .planes ul{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: -webkit-fill-available;
    }

    .planes h3{
        font-size: 14px;
    }

    .planes h2{
        font-size: 2.5svh;
    }

    .planes >div{
        gap: 8px;
    }

    .planes{
        height: fit-content;
        margin: 0;
        border: 34px solid rgba(255, 255, 255, 0.5);
        border-left-width: 5px;
        border-right-width: 5px;
        overflow: visible;
    }

    .planes :nth-child(n){
        width: 100% ;
        padding: 3px;
    }

    .planes :nth-child(n) li {
        font-size: 13px;
    }
}