.homeMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  height: 98vh;
  padding: 2em;

  font-size: 2vmin;
}

.scannerImg{
  max-height: 40vh;
  width: 100%;

  padding: 3rem;
}

.homeTitulo{
  font-size: 4em;
  text-align: center;
  color: #005F54;
}



.homeInfo{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 1em;

  align-items: center;
  justify-content: center;
  padding: 1em;

  margin-bottom: 1.7em;

  width: 65%;
}

.homeInfo img{
  max-height: 7em;
  width: 100%;
}

.homeInfo div{
  font-size: 1.6em;
}

.homeMain button{
  font-size: 2.4vh;
  padding-right: 3em;
  padding-left: 3em;
}

@media (max-aspect-ratio: 3/4) {
  .homeTitulo{
    font-size: 5em;
  }
  .homeInfo{
    width: 80%;
    row-gap: 0;
    margin-bottom: 2.5em;
  }
  .homeInfo div{
    font-size: 2em;
  }
}
@media (max-aspect-ratio: 3/5) {
  .homeInfo div{
    font-size: 2.4em;
  }
  
}
@media (max-aspect-ratio: 1/2) {
  .homeTitulo{
    font-size: 7em;
  }
  .homeInfo{
    width: 95%;
  }
  .homeInfo div{
    font-size: 2.6em;
  }
}

