.outlet{
  overflow-y: auto;
  scroll-behavior: smooth;
}

.layoutNav{
  position: fixed;
  top: 0;
  
  display: flex;
  text-align: end;
  align-items: center;

  width: 100%;

  padding: 0 1%;

  background-color: var(--color-3);
}
.layoutNav a:not(:first-child){
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;

  padding: 0.8em !important;
  margin: 0 0.2em;

  border-radius: 0.4em;
}
.layoutNav a:hover{
  color: var(--color-5);
}

.homeLogo{
  margin-right: auto;
  display: grid;
  align-items: center;
}
.homeLogo img{
  width: 4em;
  aspect-ratio: 1/1;
}

.loginLink{
  background-color: var(--color-6);
  color: white !important;
}
.loginLink:hover{
  background-color: var(--color-5);
}

.registerLink{
  background-color: var(--color-1);
  color: var(--color-6) !important;
}
.registerLink:hover{
    background-color: var(--color-2);
}

@media (max-aspect-ratio: 1/1) {
  .layoutNav a:not(:first-child){
    width: min-content;
  }
}
