.outlet{
  overflow-y: auto;
  scroll-behavior: smooth;
}

.layoutNav{
  position: fixed;
  top: 0;
  z-index: 1;
  
  display: flex;
  text-align: end;
  align-items: center;

  width: 100%;

  padding: 0 1%;

  background-color: var(--color-3);

  box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.43);
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.43);
}
.layoutNav > a:not(:first-child), .layoutNav > button:not(:first-child){
  display: grid;
  align-items: center;

  color: white;
  stroke: var(--color-5);
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;

  padding: 0.8em;
  margin: 0 0.2em;

  border-radius: 0.4em;
}
.layoutNav > a:hover, .layoutNav > button:hover{
  stroke: white;
  color: var(--color-5);
}
.layoutNav > button:not(:first-child){
  min-height: 100%;

  stroke: var(--color-5);
  background-color: #FFF0;

  padding: 0;
  margin: auto 0.4rem;

}
.layoutNav > button:hover{
  stroke: white;
}

.homeLogo{
  margin: 0 auto auto 0;
  display: grid;
  align-items: center;
}
.homeLogo img{
  width: 4em;
  aspect-ratio: 1/1;
}

.loginLink{
  background-color: var(--color-6);
  color: white !important;
}
.loginLink:hover{
  background-color: var(--color-5);
}

.registerLink{
  background-color: var(--color-1);
  color: var(--color-6) !important;
}
.registerLink:hover{
    background-color: var(--color-2);
}

.menu{
  display: none;
  width: max-content;
  height: 0px;
  padding: 2%;
  margin: 2%;
  
  background-color: var(--color-5);
  
  border-radius: 0.5rem;
  
  overflow: hidden;

  transition: all 0.5s allow-discrete;
}
.menu a{
  padding: 0.5em;
  margin: 0.2em 0;

  border-radius: 0.4em;

  display: block;
  
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  text-decoration: none;

  width: 100%;
}
.menu a:hover{
  color: var(--color-2);
}

.openProfile{
  display: block;
  height: 124px;
}
.openGeneral{
  display: block;
  height: 218px;
}

@starting-style {
  .openProfile{
    height: 0px;
  }
  .openGeneral{
    height: 0px;
  }
}

@media (max-width: 910px) {
  .layoutNav > a:not(:first-child){
    width: min-content;
  }
}
