.firstColumna{
    padding: 7svh;
    gap: 8svh;
    width: fit-content;
    max-width: 45svw;
}

.contain_img{
    display: flex;
    position: relative;
    white-space: nowrap;
    justify-content: center;
}

.contain_img p{
    color: var(--color-5);
    white-space: nowrap;
    font-size: 2svh;
    height: fit-content;
    position: relative;
    top: 100%;
}

.formulario{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 7svh;
}

.formulario form{
    width: 100%;
    background-color: var(--color-6);
    padding: 4% 5%;
    gap: 2%;
    display: grid;
}

.campo{
    height: fit-content;
    color: white;
    display: grid;
    grid-template-columns: 30% 1fr ;
}

.campo input{
    border-radius: 0.4rem;
    border: none;
    background-color: #D9D9D9;
    color: var(--color-6);
    height: fit-content;
    padding: 1% 2%;
}

.campo input.correo{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.campo textarea{
    color: var(--color-6);
    background-color: #D9D9D9;
    border-radius: 0.4rem;
    padding: 1% 2%;
    resize: none;
}

.button{
    color: var(--color-6);
    height: fit-content;

    width: 100%;
    min-width: fit-content;

    align-self: center;
    justify-self: center;
    padding: 0.5rem 3rem;
    background-color: var(--color-2);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 2px rgb(0, 0, 0, 0.25);
}

.button.desactivado{
    opacity: 0.5;
}

.backButton{
    display: grid;
    height: min-content;
}

@media screen and ( max-width: 760px) {
    
    .firstColumna{
        padding: 0;
        padding: 0 5%;
        margin-top: 5.385svh;
        margin-bottom: -5.385svh;
        gap: 2rem;
    }
    .formulario{
        padding: 0;
        width: 100%;
        flex: 1;
    }
    .formulario form{
        padding: 20% 5% 4%;
        height: 100%;
        width: 100%;
        gap: 15px;
    }
    .contain_img p{
        color: white;
    }
}