.fondoPerfil{
    height: 100%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fondoPerfil .div2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fondoPerfil .div1:nth-child(1){
    width: fit-content;
    max-width: 35svw;
    display:flex;
    flex-direction: column;
}

.photoSection{
    height: fit-content;
    background-color: #44A9F2;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0.51em;
}

/* .containIMC{
    width: 100% !important;
    padding: 0.5rem !important;
    border-radius: 0.5rem;
} */
.contain_img{
    width: 10.77svh;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    align-self: center;
}

.photoSection h1.welcome{
    color: white;
    text-align: center;
    padding: 2.5svh 0 0;
    font-size: 2svh;
    font-weight: 600;    
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.infoSection{
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7svh 1.5rem 0;
    gap: 2svh;
}

.infoSection a{
    text-decoration: none;
    color: var(--color-5);
    text-align: start;
    align-self: flex-start;
}

.infoSection .preferencias{
    font-weight: 700;
    color: var(--color-5);
}


.infoSection div.contain_preferencias img{
    height: 80%;
    aspect-ratio: 1/1;
    max-width: 25svw;
    max-height: 13svh;

}

.infoSection div.contain_info{
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.infoSection div.contain_info input{
    width: 100%;
    text-overflow: ellipsis;
}

.infoSection .containIMC, 
.infoSection .contain_preferencias,
.infoSection div.contain_info{
    background: var(--color-1);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    padding: 2svh;
    overflow: hidden;
}

.infoSection .containIMC, 
.infoSection .contain_preferencias{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


.contain_preferencias div{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: white var(--color-1);
    background: white;
    border-radius: 15px;
    height: 67%;
    align-items: center;
    gap: 10%;
    padding: 10%;
}

.rowElements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.margenes{
    width: 100%;
    padding: 0 10%;
    gap: 10%;
    height: fit-content;
    max-height: 20svh;
}

.logoutButton{
    background-color: var(--color-6);
    color: white;
    height: fit-content;
    padding: 5% 10%;
    border-radius: 15px;
}


.containIMC img{
    height: 3em;
    align-self: center;
}

.sectionEstadisticas{
    position: relative;
    width: fit-content;
    overflow: hidden;
    padding: 5svh 5svh calc(10svh + 4%);
    background: var(--color-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    flex: 1;
}

.buttonTiendaEstadisticas{
    position: absolute;
    bottom: 2%;
    color: var(--color-1);
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-1);
    border-radius: 15px;
    padding: 5px;
    height: 9svh;
}

.sectionEstadisticas .mapa{
    height: 35%;
}

.sectionEstadisticas h1.estadistics,
.sectionProximamente h1.avanzado{
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

div.contain_estadistics button{
    height: fit-content;
    color: var(--color-6);
    font-size: 3svh;
    border-radius: 15px;
    box-shadow: -2px 2px 4px black;
    padding: 2% 10%;
    height: 100%;
}

.sectionEstadisticas div.contain_estadistics,
.sectionProximamente div.contain_avanzado{
    position: relative;
    display: grid;
    overflow: visible;
    height: fit-content;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.sectionEstadisticas div.contain_estadistics img,
.sectionProximamente div.contain_avanzado img{
    width: 100%;
    max-height: 100%;
}

.sectionProximamente{
    grid-area: d;
    padding: 2svh;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    background: var(--color-2);
    display:flex;
    flex-direction: column;
}

.sectionProximamente h1.avanzado{
    color: var(--color-6);
}

.sectionProximamente div.contain_avanzado::after{
    content: '¿Quieres Saber más? Suscríbete!';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4svh;
    color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    background-color: rgb(170, 244, 128, 0.51);
    position: absolute;
}

.historialGrafica{
    background-color: white;
    color: #2F4858;
    padding: 2svh;
    border-radius: 8px;
    width: max-content;
}

.historialGrafica table {
    width: 100%;
    border-collapse: collapse;
}

.historialGrafica th, 
.historialGrafica td {
border: 1px solid #2F4858;
padding: 8px;
text-align: left;
}

.historialGrafica th {
    background-color: #2F4858;
    color: white;
}

.historialGrafica a {
    text-decoration: none;
    color: var(--color-3);
}

.containPagination {
    min-width: 100%;
    max-width: 50svw;
    margin-top: 2svh;
    height: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
}

.pagination {
    display: flex;
    flex-direction: row;
    height: fit-content;
    max-width: none;
}

.pagination button {
    background-color: #2F4858;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #F9F870;
    color: #2F4858;
}

.pagination button:hover:not(.active) {
    background-color: #1E2F3A;
}

.plus{
    width: fit-content;
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--color-2);
    padding: 1% 2%;
    font-size: 1.5svh;
    align-self: center;
    justify-self: center;
}

.s{
    font-size: 2svh;
}

.containIMC{
    width: 100%;
}

@media screen and ( max-width: 760px) {
    .fondoPerfil{
        min-height: 100svh;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .fondoPerfil section:nth-child(1){
        height: fit-content;
        width: 100%;
        display:flex;
        flex-direction: column;
        padding: 5svh;
    }
    .fondoPerfil .div1:nth-child(1){
        width: 100%;
        max-width: none;
        display:flex;
        flex-direction: column;
    }
    .contain_info{
        width: 100% !important;
    }
    .margenes{
        flex-direction: column;
        padding: 0;
        gap: 2svh;
        max-height: none;
    }
    .infoSection{
        padding: 4.7svh 7.3svh;
    }
    .infoSection p{
        align-self: flex-start;
        color: var(--color-5);
    }
    .contain_preferencias{
        border-radius: 10px;
        height: fit-content !important;
        width: 100% !important;
        max-width: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .contain_preferencias div{
        flex: 1;
        display: flex;
        padding: 2%;
        width: 100%;
        justify-content: center;
    }
    .contain_preferencias img{
        height: 100%;
    }
    .containIMC{
        height: fit-content !important;
        width: 100% !important;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 4svh 2svh !important;
    }
    .containIMC img{
        position: absolute;
        top: 2svh;
        right: 2svh;
        height: calc(100% - 4svh);
        width: auto;
        aspect-ratio: 1 / 1;
    }
    .sectionEstadisticas{
        width: 100%;
        height: fit-content;
    }
    .sectionEstadisticas .mapa{
        width: 100%;
        height: auto;
    }
    .contain_estadistics{
        display: flex !important;
        flex-wrap: wrap;
        width: 100% !important;
        height: fit-content !important;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        gap: 10px !important;
    }
    div.contain_estadistics button{
        width: 100%;
    }
}