.fondoPerfil{
    height: calc(100%);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fondoPerfil .div1:nth-child(1){
    width: 45.4svw;
    display:flex;
    flex-direction: column;
}

.photoSection{
    height: fit-content;
    background-color: #44A9F2;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 3svh;
}

.photoSection div.contain_img{
    width: 10.77svh;
    height: auto;
    background: url(/public/Home/Perfil/Foto.png) top left / contain;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    align-self: center;
}

.photoSection h1.welcome{
    color: white;
    text-align: center;
    padding: 2.5svh 0 0;
    font-size: 2svh;
    font-weight: 600;
}

.infoSection{
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 4.7svh 7.3svh 0;
    gap: 2svh;
}

.infoSection a{
    text-decoration: none;
    color: var(--color-5);
    text-align: start;
    align-self: flex-start;
}

.infoSection .preferencias{
    font-weight: 700;
    color: var(--color-5);
}


.infoSection div.contain_preferencias img{
    height: 80%;
    aspect-ratio: 1/1;
    max-width: 25svw;
    max-height: 13svh;

}

.infoSection div.contain_info{
    width: fit-content;
    justify-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.infoSection div.contain_info input{
    width: 100%;
    text-overflow: ellipsis;
}

.infoSection .containIMC, 
.infoSection .contain_preferencias,
.infoSection div.contain_info{
    background: var(--color-1);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    padding: 2svh;
    overflow: hidden;
}

.infoSection .containIMC, 
.infoSection .contain_preferencias{
    width: fit-content;
    height: 100%;
}

.contain_preferencias div{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    background: white;
    border-radius: 15px;
    height: 67%;
    align-items: center;
    gap: 10%;
    padding: 10%;
}

.rowElements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.margenes{
    width: 100%;
    padding: 0 10%;
    gap: 5%;
    height: fit-content;
}

.logoutButton{
    background-color: var(--color-6);
    color: white;
    height: fit-content;
    padding: 5% 10%;
    border-radius: 15px;
}

.fondoPerfil section:nth-child(3){
    grid-area: b;
    width: 100%;
    height: fit-content;
    padding: 2svh;
    background: var(--color-6);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fondoPerfil section:nth-child(3) h1.estadistics,
.fondoPerfil section:nth-child(4) h1.avanzado{
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.fondoPerfil section:nth-child(3) div.contain_estadistics,
.fondoPerfil section:nth-child(4) div.contain_avanzado{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20svh, 1fr));
    gap: 10px;
}

.fondoPerfil section:nth-child(3) div.contain_estadistics img:nth-child(n),
.fondoPerfil section:nth-child(4) div.contain_avanzado img:nth-child(n){
    width: 100%;
    height: auto;
}

.fondoPerfil section:nth-child(4){
    grid-area: d;
    padding: 2svh;
    gap: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    width: 100%;
    background: var(--color-2);
    display:flex;
    flex-direction: column;
}

.fondoPerfil section:nth-child(4) h1.avanzado{
    color: var(--color-6);
}

.fondoPerfil section:nth-child(4) div.contain_avanzado::after{
    content: '¿Quieres Saber más? Suscríbete!';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4svh;
    color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    background-color: rgb(170, 244, 128, 0.51);
    position: absolute;
}

@media screen and ( max-width: 760px) {
    .fondoPerfil{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .fondoPerfil section:nth-child(1){
        grid-area: a;
        background: var(--color-2);
        height: fit-content;
        width: 100%;
        display:flex;
        flex-direction: column;
        padding: 5svh;
    }
    .fondoPerfil section:nth-child(1) div.contain_img{
        width: 17svh;
    }
    .fondoPerfil section:nth-child(1) h1.welcome{
        color: var(--color-6);
        padding: 2svh;
    }
}