body{
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

#root{
  height: 100%;
}

*{
  box-sizing: border-box;
}

button{
  border-style: none;
  padding: 1em;
}
button:active{
  border-style: none;
}

.basicButton{
  background-color: #005F54;
  color: white;
  border-radius: 1em;

  transition: transform 0.05s;
}

.basicButton:hover{
  transform: scale(1.1);
}

.basicButton:active{
  background-color: #54E8AE;
}

.stack{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintainRatio{
  object-fit: contain;
}
