.page{
  position: initial !important;
}

.inputCodigoBarras{
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.formulario{
  padding-top: 0;
  padding-bottom: 0;
}

.infoForm{
  overflow-y: auto;
}
.infoForm > div, .infoForm > table{
  margin-bottom: 0.8rem;
}

.inputImagen{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}
.inputImagen img{
  object-fit: contain;

  width: 100%;
  max-height: 40svh;

  background-color: #FFF7;

  border: 0.3rem solid var(--color-2);
  border-radius: 0.5rem;
}
.inputImagen label{
  text-align: center;

  padding: 0.6rem 1rem;

  width: 100%;

  color: var(--color-6);
  background-color: var(--color-2);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 2px rgb(0, 0, 0, 0.25);
}

.infoTable{
  color: white;
}
.infoTable td, .infoTable th{
  height: 4.5rem;
  text-align: center;
  padding: 0.5rem;
}
.infoTable th{
  text-decoration: underline;
}
.infoTable input, .infoTable select{
  border-radius: 0.4rem;
  border: none;
  background-color: #D9D9D9;
  color: var(--color-6);
  height: fit-content;
  padding: 0.4rem 1rem;
}

.infoTable select{
  appearance: none;
  padding-right: 2.2rem;
  

  background-image: url(/Tienda/flechaSelector.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.infoTable select{
  width: 80%;
}

@media (max-aspect-ratio: 8/7) {
  .infoTable td, .infoTable th{
    height: 4.5rem;
    text-align: center;
    padding: 0rem;
  }
  .infoTable input{
    max-width: 30svw;
  }
  .infoTable select{
    width: 100%;
    padding: 0.4rem;
  }

  .infoForm{
    padding: 20% 2% 4% !important;
  }
  .infoForm > div{
    padding: 0 0.5rem;
  }
  .infoForm > div, .infoForm > table{
    margin-bottom: 0.8rem;
    grid-template-columns: auto;
  }
}
