.contain_img{
    border-radius: 15px;
    border: 2px solid var(--color-5);
    width: 100%;
    aspect-ratio: 2/1;
}

.formulario{
    height: -webkit-fill-available;
}
.formulario form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and ( max-width: 760px) {
    
    .formulario{
        height: -webkit-fill-available;
    }
    .formulario form{
        height: auto;
    }
}