.main{
    text-align: center;
}

.bannerDesk{
    position: relative;
    width: 100%;
    height: 30svh;
    background: var(--color-5);
}
.bannerDesk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bannerDesk svg{
    position: absolute;
    height: 20svh;
    width: 20svh;

    fill: var(--color-6);
}

.bannerDesk:hover{
    cursor: pointer;
}

.logoSection{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -10rem;
}
.logoSection > div {
    width: min-content;
    background-color: white;

    padding: 2.5rem;

    border-radius: 9999999px;
    border: 8px solid #2F4858;
}
.logoSection > div > img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 8rem;
}


.titulo{
    width: 100%;
    margin: 0.5rem 0 2rem;
    
    text-align: center;
}
.titulo a{
    font-size: 6rem;
    color: #272F35;

    text-decoration: underline;
}

.descripcion{
    font-size: 1.2rem;
    font-weight: 400;

    text-align: center;
    
    color: #272F35;
    margin: 0 3rem;
}

.buscador{
    margin: 3rem;
    padding: 0.5rem 3rem;

    width: 70%;

    font-size: 1.3rem;
    color: #272F35;

    border: 3px solid #AAF480;
    border-radius: 0.8rem;
}

.presentacion{
    display: grid;
    margin: 3rem;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.producto{
    width: 50%;
    display: flex;
    align-items: center;

    padding: 1rem;

    border: 3px solid #2F4858;
    border-radius: 1rem; width: fit-content;
}

.producto > img {    
    width: 30%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.producto > div {
    width: 70%;
}

.name{
    font-size: 1.5rem;
    color: #272F35;

}
.desc{
    color: #272F35;

    width: 100%;
    max-height: 10svh;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alone{
    align-self: center;
    width: 30%;
    margin: 3svh auto;
}

.editarText{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .presentacion{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 5%;
    }
    .editarText{
        color: white;
        position: relative;
        text-align: center;
    }
    .producto{
        min-width: 250px;
        background: white;
        z-index: 4;
        position: relative;
    }
    .titulo a{
        font-size: 3svh;
    }
    .bannerDesk{
        width: 100%;
        height: auto;
    }
}