.fondoLogin form.login{
    max-height: 30svh;
}

.form_registro{
    gap: 0.6svh !important;
}

.form_registro label{
    text-align: start;
    width: 100%;
    color: var(--color-5);
}

.form_registro button{
    margin: 2%;
    max-height: 5svh;
}